body {
background: #BA7E4F;
}
.salmonHeader {
  font-family: 'La Belle Aurore', cursive;
  text-align: center;
  border-width: 2px;
  border-style: double;
  margin-top: 50px;
  font-size: 5em;
  width: 1400px;

}

table,{

    max-width: 100%;
    word-break: normal;
    word-wrap: break-word;
    table-layout: fixed;
}


  td, th {
    border: 1px solid black;
    padding: 6px;
  }
  
  tr:hover {
    background-color: #bbb;
  }
  
  .blue {
    color: blue;
  }
  

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
  }