body {
background: salmon;
}

table,{

    max-width: 100%;
    word-break: normal;
    word-wrap: break-word;
    table-layout: fixed;
}

th, td {
  
  padding: 9px;
  border: 1px solid black ;
  


}
